<form style="margin-top: 15px;" >
    <div layout="row" class="input-row" style="margin: 0;padding: 0;">
        <md-button class="md-primary" style="margin: 0;padding: 0;" ng-click="addUserFormShown = !addUserFormShown;" ng-bind="addUserFormShown ? 'Hide form' : 'Add user'"></md-button>
    </div>
    <div layout="row" class="input-row">
        <md-input-container flex ng-show="addUserFormShown">
            <label>User's search</label>
            <md-autocomplete md-no-cache="true"
                             md-selected-item="selectedUser"
                             md-search-text="searchUserKey"
                             md-selected-item-change="addUserToGroup(item)"
                             md-items="item in userLiveSearch(searchUserKey)"
                             md-min-length="3"
                             md-delay="1000"
                             placeholder="Enter user's name">
                <md-item-template>
                    <span md-highlight-text="searchUserKey" md-highlight-flags="^i">{{item.surname}} {{item.name}} ({{item.userName}} {{item.email}})</span>
                </md-item-template>
                <md-not-found>
                    No users matching "{{searchUserKey}}" were found.
                </md-not-found>
            </md-autocomplete>
        </md-input-container>
    </div>
</form>

<md-table-container>
    <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
        <thead md-head md-order="query.order" md-on-reorder="getGroups">
            <tr md-row>
                <th md-column md-order-by="nameToLower"><span>Name</span></th>
                <th md-column md-order-by="nameToLower"><span>E-mail</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="group" md-select-id="Id" md-auto-select ng-repeat="user in usersList">
                <td md-cell>{{user.name}}</td>
                <td md-cell>{{user.email}}</td>
                <td md-cell>
                    <md-button class="md-accent" ng-click="deleteUserFromGroup($index, $event)">Delete</md-button>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[10, 20, 50]" md-page="query.page" md-total="{{usersList.count}}" md-on-paginate="getGroups" md-page-select></md-table-pagination>