<md-dialog add-item-dialog style="min-width: 840px;max-height: 100%; height: 40%;">
    <md-dialog-content class="md-dialog-content" style="height: 100%;">
        <h2 class="md-title">Annotation Item Import</h2>

        <p ng-if="fileForm.$submitted && fileForm.$invalid" class="md-warn" layout="row" layout-align="start center">
            <i class="material-icons">error_outline</i>
            <span>&nbsp; All fields are required.</span>
        </p>

        <div layout="row" class="input-row">
            <md-autocomplete id="autocompleteSeacrh" md-search-text="functionAutocomplete.searchText"
                             md-items="item in querySearch(functionAutocomplete.searchText, chemicalDictionaries.chemicalFunctionTypeVocabulary)"
                             md-item-text="item.name"
                             md-min-length="model.minLength"
                             md-require-match="true"
                             md-selected-item="model.SelectedAI"
                             ng-keyup="$event.keyCode == 13 && showAllAIs()"
                             placeholder="Search for a AI">
                <md-item-template>
                    <span md-highlight-text="functionAutocomplete.searchText">{{item.name}}</span>
                </md-item-template>
            </md-autocomplete>
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="model.SelectedAI == undefined">Create AI</md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">Cancel</md-button>
    </div>
</md-dialog>
