@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Account was not yet approved by administrator";
}

<div class="panel panel-warning">
    <div class="panel-heading"><h2>@ViewBag.Title</h2></div>
    <div class="panel-body">
        <p>Before first usage, your account must be approved by an administrator.</p>
        <p>Our administrator was already informed but of course it will take some time. Please be patient and try again in a while.</p>
    </div>

</div>


