<h2 class="ai-tabs-header" style="margin-left: 30px;margin-bottom: -20px;">
    Organism<md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.organismContext}}">
        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.organismContext}}</md-tooltip>
        <i class="material-icons">help_outline</i>
    </md-button>
</h2>
<div layout="row" layout-xs="row" layout-margin style="min-width: 550px; padding-top: 10px; padding-left: 10px;">
    <button class="btn btn-primary" ng-click="ImportTaxonomyDialog()">Import Taxonomy from CSV</button>
    <label ng-if="appendFile" id="selectedfilenamelabel">{{appendFile.name}}</label>
</div>
<div layout="row" layout-xs="row" layout-margin style="min-width: 550px; padding-top: 10px; padding-left: 10px;">
    <md-autocomplete
                        md-selected-item="organismModel.taxonomy.search"
                        md-search-text="searchText"
                        md-items="subItem in searchOrganisms(searchText)"
                        md-item-text="subItem.species"
                        placeholder="Search for a organism"
                        md-selected-item-change="selectedSearchChange(subItem)"
                        md-require-match="true"
                        ng-disabled="!isAccessible"
                        md-min-length="3">
        <md-item-template>
            <span md-highlight-text="autocompleteFields['search']">{{subItem.species}} score: {{subItem.score}}% cover: {{subItem.cover}}: </span>
            <span>{{subItem.kingdom}} (kingdom) >> {{subItem.phylum}} (phylum) >> {{subItem.class}} (class)</span>
            <span>{{subItem.order}} (order) >> {{subItem.family}} (family) >> {{subItem.genus}} (genus) >> {{subItem.search}}</span>
        </md-item-template>
    </md-autocomplete>
    <md-input-container md-no-float class="md-block">
        <label>Min score %</label>
        <input ng-model="minScore" type="number">
    </md-input-container>
    <md-input-container md-no-float class="md-block">
        <label>Coverage %</label>
        <input ng-model="coverage" type="number">
    </md-input-container>
</div>
<div layout="row" layout-xs="row" layout-margin style="min-width: 550px;">
    <div layout="column" flex="30" layout-margin style="margin-top:30px;">
        <div layout="column">
            <uib-accordion close-others="true" style="min-width: 225px;">
                <div uib-accordion-group
                     class="panel-default">
                    <uib-accordion-heading>
                        {{::GetNormalizedName('species')}}
                        <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['species']}}" ng-show="simpleTypesVocabularies['species']">
                            <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['species']}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </uib-accordion-heading>
                    <div class="row" layout-margin>
                        <div layout="column">
                            <div layout="row">
                                <md-input-container class="md-block" ng-if="-1 == autocompleteFieldsNames.indexOf('species')">
                                    <label>Specify {{GetNormalizedName2('species')}}</label>
                                    <input ng-disabled="!isAccessible" md-no-asterisk ng-model="organismModel.taxonomy['species']">
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <div uib-accordion-group
                     class="panel-default"
                     ng-repeat="(key, item) in organismModel.taxonomy"
                     ng-if="'id' != key && key != 'species'">
                    <uib-accordion-heading>
                        {{::GetNormalizedName(key)}}
                        <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies[key]}}" ng-show="simpleTypesVocabularies[key]">
                            <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies[key]}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </uib-accordion-heading>
                    <div class="row" ng-if="key != 'organismName'" layout-margin>
                        <md-input-container class="md-block" ng-if="-1 == autocompleteFieldsNames.indexOf(key)">
                            <label>Specify {{GetNormalizedName2(key)}}</label>
                            <input ng-disabled="!isAccessible" ng-if="-1 == autocompleteFieldsNames.indexOf(key) && key != 'species'" md-no-asterisk ng-model="organismModel.taxonomy[key].value">
                        </md-input-container>
                        <div layout="column" ng-if="-1 != autocompleteFieldsNames.indexOf(key)">
                            <div layout="row">
                                <md-autocomplete flex="80"
                                                 md-selected-item="organismModel.taxonomy[key]"
                                                 md-search-text="autocompleteFields[key]"
                                                 md-items="subItem in querySearch(autocompleteFields[key], key)"
                                                 md-item-text="subItem.value"
                                                 placeholder="Search for a {{key}}"
                                                 md-require-match="true"
                                                 ng-disabled="!isAccessible"
                                                 md-min-length="-1 == networkSearching.indexOf(key) ? 0 : 3">
                                    <md-item-template>
                                        <span md-highlight-text="autocompleteFields[key]">{{subItem.value}}</span>
                                        <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                                            <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                                            <i class="material-icons">help_outline</i>
                                        </md-button>
                                    </md-item-template>
                                </md-autocomplete>
                                <md-button ng-if="isAccessible" flex="20" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen(key, organismVocabularies[key], $event, organismModel.taxonomy)">
                                    <i class="material-icons md-24" title="Add/Import new">library_add</i>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-accordion>
        </div>
        <md-divider style="margin: 10px;"></md-divider>
        <div layout="row" layout-align="center">
            <md-button ng-click="AddOrganism()">Add combination to list</md-button>
        </div>
    </div>
    <div layout="column" flex="20"></div>
    <div layout="column" style="margin-left: 50px;min-width: 255px;" ng-show="organismContext.organisms.length > 0" flex="30">
        <md-content>
            <md-list layout-margin>
                <md-list-item ng-repeat="organism in organismContext.organisms track by $index" style="margin-bottom: 15px;">
                    <uib-accordion close-others="true" flex>
                        <div uib-accordion-group
                             class="panel-default" heading="{{GetNormalizedName(key)}}"
                             ng-repeat="(key, value) in organism.taxonomy"
                             ng-if="'id' != key">
                            <div class="row" ng-if="key != 'organismName'" layout-margin>
                                <span ng-if="key == 'species'" ng-bind="value"></span>
                                <span ng-if="key != 'species'" md-no-asterisk ng-bind="value.value"></span>
                            </div>
                        </div>
                    </uib-accordion>
                    <md-button ng-if="isAccessible" class="md-icon-button secondary" ng-click="organismContext.organisms.splice($index, 1)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>