<div layout="row" layout-margin>
    <div layout="column" layout-margin flex="30">
        <div layout="column" layout-margin>
            <h4>Location name
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.locationName}}" ng-show="simpleTypesVocabularies.locationName">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.locationName}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </h4>
            <div layout="row">
                <md-autocomplete flex="80" md-selected-item="locationsModel.locationName"
                                 md-search-text="autocompleteFields.locationName"
                                 md-items="subItem in queryRequestSearch(autocompleteFields.locationName, 'LocationName')"
                                 md-item-text="subItem.value"
                                 placeholder="Start typing to search..."
                                 md-require-match="true"
                                 md-min-length="1"
                                 ng-blur="CheckText(locationsModel.locationName, 'locationName')"
                                 style="padding-right: 10px;"
                                 ng-disabled="!isAccessible">
                    <md-item-template>
                        <span md-highlight-text="autocompleteFields.locationName">{{subItem.value}}</span>
                        <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                            <md-tooltip  class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </md-item-template>
                </md-autocomplete>
            </div>
        </div>

        <div layout="column" layout-margin>
            <h4>Type
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.locationType}}" ng-show="simpleTypesVocabularies.locationType">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.locationType}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </h4>
            <div layout="row">
                <md-autocomplete flex="80" md-selected-item="locationsModel.locationType"
                                 md-search-text="autocompleteFields.locationType"
                                 md-items="subItem in querySearch(autocompleteFields.locationType, vocabularies.location.locationType)"
                                 md-item-text="subItem.value"
                                 placeholder="Click to select..."
                                 md-require-match="true"
                                 md-min-length="0" 
                                 ng-blur="CheckText(locationsModel.locationType, 'locationType')"
                                 ng-disabled="!isAccessible">
                    <md-item-template>
                        <span md-highlight-text="autocompleteFields.locationType">{{subItem.value}}</span>
                        <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                            <md-tooltip  class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </md-item-template>
                </md-autocomplete>
                <md-button ng-if="isAccessible" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('locationType', vocabularies.location.locationType, $event, locationsModel)">
                    <i class="material-icons md-24" title="Add/Import new">library_add</i>
                </md-button>
            </div>
        </div>

        <div layout="column" layout-margin>
            <h4>Country
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.countryName}}" ng-show="simpleTypesVocabularies.countryName">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.countryName}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </h4>
            <div layout="row">
                <md-autocomplete flex="80" md-selected-item="locationsModel.countryName"
                                 md-search-text="autocompleteFields.countryName"
                                 md-items="subItem in queryRequestSearch(autocompleteFields.countryName, 'Country')"
                                 md-item-text="subItem.value"
                                 placeholder="Start typing to search..."
                                 md-require-match="true"
                                 md-min-length="1" 
                                 ng-blur="CheckText(locationsModel.countryName, 'countryName')"
                                 ng-disabled="!isAccessible">
                    <md-item-template>
                        <span md-highlight-text="autocompleteFields.countryName">{{subItem.value}}</span>
                        <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                            <md-tooltip  class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </md-item-template>
                </md-autocomplete>
                <md-button ng-if="isAccessible" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('countryName', vocabularies.location.countryName, $event, locationsModel)">
                    <i class="material-icons md-24" title="Add/Import new">library_add</i>
                </md-button>
            </div>
        </div>

        <div layout="column" layout-margin>
            <h4>Continent
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.continentName}}" ng-show="simpleTypesVocabularies.continentName">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.continentName}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </h4>
            <div layout="row">
                <md-autocomplete flex="80" md-selected-item="locationsModel.continentName"
                                 md-search-text="autocompleteFields.continentName"
                                 md-items="subItem in querySearch(autocompleteFields.continentName, vocabularies.location.continentName)"
                                 md-item-text="subItem.value"
                                 placeholder="Click to select..."
                                 md-require-match="true"
                                 md-min-length="0" 
                                 ng-blur="CheckText(locationsModel.continentName, 'continentName')"
                                 ng-disabled="!isAccessible">
                    <md-item-template>
                        <span md-highlight-text="autocompleteFields.continentName">{{subItem.value}}</span>
                        <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                            <md-tooltip  class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </md-item-template>
                </md-autocomplete>
                <md-button ng-if="isAccessible" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('continentName', vocabularies.location.continentName, $event, locationsModel)">
                    <i class="material-icons md-24" title="Add/Import new">library_add</i>
                </md-button>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="center" ng-if="isAccessible">
            <md-button ng-click="AddLocation()">Add combination to list</md-button>
        </div>
    </div>
    <div layout="column" flex="20" style="margin-left: 10px;" ng-show="spaceContext.locations.length > 0" layout-margin>
        <md-content>
            <md-list layout-margin>
                <md-list-item ng-repeat="location in spaceContext.locations track by $index" style="margin-bottom: 15px;">
                    <div class="md-list-item-text" layout="column" style="width: 300px;">
                        <p><b>Name:</b> {{ location.locationName }}</p>
                        <p><b>Type:</b> {{ location.locationType.value }}</p>
                        <p><b>Continent:</b> {{ location.continentName.value }}</p>
                        <p><b>Country:</b> {{ location.countryName.value }}</p>
                    </div>
                    <md-button ng-if="isAccessible" class="md-icon-button secondary" ng-click="spaceContext.locations.splice($index, 1)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
