<div layout="column" layout-margin flex>
    <md-input-container>
        <div layout="row">
            <md-chips flex="90" ng-model="physiognomyModel.physiognomyTypes[0].semiAquaticPhysiognomies" md-transform-chip="{semiAquaticPhysiognomyType: $chip}" md-autocomplete-snap md-require-match="true">
                <md-autocomplete md-search-text="functionAutocomplete.semiAquatic"
                                 md-items="item in querySearch(functionAutocomplete.semiAquatic, 'semiAquaticPhysiognomyType')"
                                 md-item-text="item.value"
                                 placeholder="Search for a Semi Aquatic"
                                 md-min-length="0">
                    <md-item-template>
                        <span md-highlight-text="functionAutocomplete.semiAquatic">{{item.value}}</span>
                        <md-button class="md-icon-button md-primary" aria-label="{{item.description}}" ng-show="item.description">
                            <md-tooltip class="tt-multiline" md-direction="right">{{item.description}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </md-item-template>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                        <strong>{{$chip.semiAquaticPhysiognomyType.value}}</strong>
                    </span>
                </md-chip-template>
            </md-chips>
            <md-button style="margin-top: 15px;" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('semiAquaticPhysiognomyType', semiAquaticDictionary, $event, physiognomyModel.physiognomyTypes[0].semiAquaticPhysiognomies)">
                <i class="material-icons md-24" title="Add/Import new">library_add</i>
            </md-button>
        </div>
    </md-input-container>
</div>
