<div layout="column" flex layout-margin>
    <md-input-container>
        <div layout="row">
            <md-chips flex="90"  ng-model="physiognomyModel.physiognomyTypes[0].terrestrialPhysiognomies" md-transform-chip="{terrestrialPhysiognomyType: $chip}" md-autocomplete-snap md-require-match="true">
                <md-autocomplete flex
                                 md-search-text="functionAutocomplete.terrestrial"
                                 md-items="item in querySearch(functionAutocomplete.terrestrial, 'terrestrialPhysiognomyType')"
                                 md-item-text="item.value"
                                 placeholder="Search for a Terrestrial"
                                 md-min-length="0">
                    <md-item-template>
                        <span md-highlight-text="functionAutocomplete.terrestrial">{{item.value}}</span>
                        <md-button class="md-icon-button md-primary" aria-label="{{item.description}}" ng-show="item.description">
                            <md-tooltip class="tt-multiline" md-direction="right">{{item.description}}</md-tooltip>
                            <i class="material-icons">help_outline</i>
                        </md-button>
                    </md-item-template>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                        <strong>{{$chip.terrestrialPhysiognomyType.value}}</strong>
                    </span>
                </md-chip-template>
            </md-chips>
            <md-button style="margin-top: 15px;" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('terrestrialPhysiognomyType', terrestrialDictionaries, $event, physiognomyModel.physiognomyTypes[0].terrestrialPhysiognomies)">
                <i class="material-icons md-24" title="Add/Import new">library_add</i>
            </md-button>
        </div>
    </md-input-container>
</div>