<h2 class="ai-tabs-header" style="margin-left: 20px;">
    Chemical<md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.chemicalContext}}">
        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.chemicalContext}}</md-tooltip>
        <i class="material-icons">help_outline</i>
    </md-button>
</h2>
<md-tabs md-dynamic-height md-border-bottom" md-selected="mdTabs.selectedIndex">
    <md-tab id="elementTab">
        <md-tab-label>Elements
            <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.elements}}">
                <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.elements}}</md-tooltip>
                <i class="material-icons">help_outline</i>
            </md-button>
        </md-tab-label>
        <md-tab-body>
            <md-card ng-include="'Scripts/app/annotation-item/chemical/templates/element.template.html'">
            </md-card>
        </md-tab-body>
    </md-tab>
    <md-tab id="compoundTab">
        <md-tab-label>Compounds
            <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.compounds}}">
                <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.compounds}}</md-tooltip>
                <i class="material-icons">help_outline</i>
            </md-button>
        </md-tab-label>
        <md-tab-body>
            <div class="alert alert-warning alert-dismissible ai-help" role="alert" ng-if="-1 == hiddenHelpers.indexOf('chemical-compounds')">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign"></span>Set the desired combination and click "Add combination to list"-button at the bottom to add it to the list. You can also extend the existing vocabulary by clicking the "plus"-button.
                <md-checkbox class="pull-right" ng-model="compoundsHelperVisibility" ng-change="HideHelper('chemical-compounds')" aria-label="Never show again">Never show again</md-checkbox>
            </div>
            <md-card ng-include="'Scripts/app/annotation-item/chemical/templates/compound.template.html'">
            </md-card>
        </md-tab-body>
    </md-tab>
    <md-tab id="functionTab">
        <md-tab-label>Functions
            <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.functions}}">
                <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.functions}}</md-tooltip>
                <i class="material-icons">help_outline</i>
            </md-button>
        </md-tab-label>
        <md-tab-body>
            <md-card ng-include="'Scripts/app/annotation-item/chemical/templates/function.template.html'">
            </md-card>
        </md-tab-body>
    </md-tab>
</md-tabs>
