<div class="modal fade" tabindex="-1" role="dialog" id="coordinatesError_Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <p style="color: red;font-size: 1.3em;text-align:center;">Invalid coordinates.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<md-tabs md-dynamic-height md-border-bottom" md-selected="mdTabs.selectedIndex">
    <md-tab id="boxTab">
        <md-tab-label>Box</md-tab-label>
        <md-tab-body>
            <md-card ng-include="'Scripts/app/annotation-item/space/templates/box.template.html'">
            </md-card>
        </md-tab-body>
    </md-tab>
    <md-tab id="coordinateTab">
        <md-tab-label>Coordinate</md-tab-label>
        <md-tab-body>
            <div class="alert alert-warning alert-dismissible ai-help" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign"></span>Set the desired combination and click "Add combination to list"-button at the bottom to add it to the list. You can also extend the existing vocabulary by clicking the "plus"-button.
            </div>
            <md-card ng-include="'Scripts/app/annotation-item/space/templates/coordinate.template.html'">
            </md-card>
        </md-tab-body>
    </md-tab>
    <md-tab id="nameTab">
        <md-tab-label>Location</md-tab-label>
        <md-tab-body>
            <div class="alert alert-warning alert-dismissible ai-help" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-info-sign"></span>Set the desired combination and click "Add combination to list"-button at the bottom to add it to the list. You can also extend the existing vocabulary by clicking the "plus"-button.
            </div>
            <md-card ng-include="'Scripts/app/annotation-item/space/templates/location.template.html'">
            </md-card>
        </md-tab-body>
    </md-tab>
    <md-tab id="resolutionTab">
        <md-tab-label>Resolution</md-tab-label>
        <md-tab-body>
            <md-card ng-include="'Scripts/app/annotation-item/space/templates/resolution.template.html'">
            </md-card>
        </md-tab-body>
    </md-tab>
</md-tabs>
