<md-content layout="column" layout-padding>
    <div layout="row">
        <div layout><mdp-date-picker style="min-width: 215px;" mdp-format="YYYY-MM-DD" mdp-placeholder="Start Date(YYYY-MM-DD)" mdp-disabled="!isAccessible" ng-change="TimeRangeChanged('rangeStart')" ng-model="timeRange.rangeStart.dateTime"></mdp-date-picker></div>
        <div layout><mdp-time-picker mdp-placeholder="Start Time" mdp-disabled="!isAccessible" ng-change="TimeRangeChanged('rangeStart')" ng-model="timeRange.rangeStart.dateTime"></mdp-time-picker></div>
        <div layout style="margin: 10px 0px 18px 15px;">
            <md-autocomplete style="max-width: 400px;"
                             md-selected-item="timeRange.rangeStart.timezone"
                             md-search-text="autocompleteFields.rangeStart"
                             md-items="subItem in querySearch(autocompleteFields.rangeStart, 'timezone')"
                             md-item-text="GetNormalizedTimeZoneNames(subItem.value)"
                             placeholder="Search for a Timezone"
                             md-require-match="true"
                             md-selected-item-change="TimeRangeChanged('rangeStart')"
                             md-min-length="0"
                             ng-disabled="!isAccessible" >
                <md-item-template>
                    <span md-highlight-text="functionAutocomplete.oro">{{GetNormalizedTimeZoneNames(subItem.value)}}</span>
                    <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                        <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </md-item-template>
            </md-autocomplete>
            <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.timezone}}" ng-show="simpleTypesVocabularies.timezone">
                <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.timezone}}</md-tooltip>
                <i class="material-icons">help_outline</i>
            </md-button>
        </div>
    </div>
    <div layout="row">
        <div layout><mdp-date-picker style="min-width: 215px;" mdp-format="YYYY-MM-DD" mdp-placeholder="End Date(YYYY-MM-DD)" mdp-disabled="!isAccessible" ng-change="TimeRangeChanged('rangeEnd')" ng-model="timeRange.rangeEnd.dateTime"></mdp-date-picker></div>
        <div layout><mdp-time-picker mdp-placeholder="End Time" mdp-disabled="!isAccessible" ng-change="TimeRangeChanged('rangeEnd')" ng-model="timeRange.rangeEnd.dateTime"></mdp-time-picker></div>
        <div layout style="margin: 10px 0px 18px 15px;">
            <md-autocomplete style="max-width: 400px;"
                             md-selected-item="timeRange.rangeEnd.timezone"
                             md-search-text="autocompleteFields.rangeEnd"
                             md-items="subItem in querySearch(autocompleteFields.rangeEnd, 'timezone')"
                             md-item-text="GetNormalizedTimeZoneNames(subItem.value)"
                             placeholder="Search for a Timezone"
                             md-require-match="true"
                             md-selected-item-change="TimeRangeChanged('rangeEnd')"
                             md-min-length="0" ng-disabled="!isAccessible" >
                <md-item-template>
                    <span md-highlight-text="functionAutocomplete.oro">{{GetNormalizedTimeZoneNames(subItem.value)}}</span>
                    <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                        <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </md-item-template>
            </md-autocomplete>
            <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.timezone}}" ng-show="simpleTypesVocabularies.timezone">
                <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.timezone}}</md-tooltip>
                <i class="material-icons">help_outline</i>
            </md-button>
         </div>
    </div>
</md-content>



