<div layout="row" flex>
    <div layout="column" layout-margin flex="30" ng-if="isAccessible">
        <div layout="row">
             <md-button class="md-raised md-primary" ng-disabled="!isAccessible" ng-click="CollectionsImportDialogOpen($event, timeModule.timePeriods.timePeriod, vocabularies.geologicalTimePeriods, 'GeologicalTimePeriod')"><i class="material-icons md-18" style="vertical-align: middle;">backup</i> Import list</md-button>
        </div>

        <div layout="column" layout-margin>
            <div layout="column" ng-show="errorMessage" style="color:red;margin-bottom: 10px;" ng-bind="errorMessage"></div>
            <div layout="column" layout-padding flex="60" ng-repeat="(key,item) in vocabularies.geologicalTimePeriods track by $index">
                <h4>{{GetNormalizedName(key)}}
                    <span layout="column" ng-if="'geologicalEon'==key||'geologicalEra'==key" style="color:red;display: inline;"> *</span>
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies[key]}}" ng-show="simpleTypesVocabularies[key]">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies[key]}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </h4>
                
                <div layout="row">
                    <md-autocomplete flex="80" md-selected-item="geologicalTimePeriodsModel[key]"
                                     md-search-text="autocompleteFields[key]"
                                     md-items="subItem in querySearch(autocompleteFields[key], key)"
                                     md-item-text="subItem.value"
                                     placeholder="Search for a {{GetNormalizedName(key)}}"
                                     md-require-match="true"
                                     md-selected-item-change="changed()"
                                     md-min-length="0"
                                     ng-disabled="!isAccessible">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields[key]">{{subItem.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                                <md-tooltip  class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button ng-disabled="!isAccessible" flex="20" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen(key, item, $event, geologicalTimePeriodsModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="center">
            <md-button ng-disabled="!isAccessible" ng-click="addGeologicItem()">Add combination to list</md-button>
        </div>
    </div>

    <div layout="column" flex="30" style="margin-left: 10px;" ng-show="timeModule.timePeriods.timePeriod.length > 0" layout-margin>
        <md-content>
            <md-list layout-margin>
                <md-list-item ng-repeat="timePeriod in timeModule.timePeriods.timePeriod track by $index" style="margin-bottom: 15px;">
                    <div class="md-list-item-text" layout="column" style="width: 300px;">
                        <p ng-repeat="(key,item) in timePeriod" ng-if="'id' != key"><b>{{GetNormalizedName(key)}}:</b> {{ item.value }}</p>
                    </div>
                    <md-button ng-if="isAccessible" class="md-icon-button secondary" ng-click="timeModule.timePeriods.timePeriod.splice($index, 1)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
