<md-content layout="column" flex ng-app="outgoingRequests" ng-controller="outgoingRequestsController" ng-cloak style="position: initial;">
<h2 style="text-align: center;">Outgoing Requests</h2>
    <outgoing-requests layout-margin></outgoing-requests>
</md-content>

@section scripts
{
    @Scripts.Render("~/bundles/admin/angular")
    @Scripts.Render("~/bundles/outgoing-requests")
}

@section styles
{
    @Styles.Render("~/bundles/users-dashboard/css")
}
