<div layout="row" layout-xs="row" layout-margin>
    <div layout="column" flex="50" layout-margin style="margin-top:30px;"  ng-if="isAccessible">
        <div layout="column">
            <div layout="column" layout-margin>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="compondModel.compoundName">
                </md-input-container>
            </div>
            <div layout="column" layout-margin>
                <md-input-container>
                    <label>Class</label>
                    <div layout="row">
                        <md-chips flex="90" ng-model="compondModel.compoundClass" md-transform-chip="$chip.value" md-autocomplete-snap md-require-match="true">
                            <md-autocomplete md-search-text="functionAutocomplete.searchText1"
                                             md-items="item in querySearch(functionAutocomplete.searchText1, 'compoundClass')"
                                             md-item-text="item.value"
                                             md-min-length="0"
                                             placeholder="Search for a class">
                                <md-item-template>
                                    <span md-highlight-text="functionAutocomplete.searchText1">{{item.value}}</span>
                                    <md-button class="md-icon-button md-primary" aria-label="{{item.description}}" ng-show="item.description">
                                        <md-tooltip class="tt-multiline" md-direction="right">{{item.description}}</md-tooltip>
                                        <i class="material-icons">help_outline</i>
                                    </md-button>
                                </md-item-template>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.value}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                        <md-button style="margin-top: 15px;" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('compoundClass', chemicalDictionaries.compoundClassVocabulary, $event, compondModel.compoundClass)">
                            <i class="material-icons md-24" title="Add/Import new">library_add</i>
                        </md-button>
                    </div>
                </md-input-container>
            </div>
            <div layout="column" layout-margin>
                <md-input-container>
                    <label>Type</label>
                    <div layout="row">
                        <md-chips flex="90" ng-model="compondModel.compoundType" md-transform-chip="$chip.value" md-autocomplete-snap md-require-match="true">
                            <md-autocomplete md-search-text="functionAutocomplete.searchText2"
                                             md-items="item in querySearch(functionAutocomplete.searchText2, 'compoundType')"
                                             md-item-text="item.value"
                                             md-min-length="0"
                                             placeholder="Search for a type">
                                <md-item-template>
                                    <span md-highlight-text="functionAutocomplete.searchText2">{{item.value}}</span>
                                    <md-button class="md-icon-button md-primary" aria-label="{{item.description}}" ng-show="item.description">
                                        <md-tooltip class="tt-multiline" md-direction="right">{{item.description}}</md-tooltip>
                                        <i class="material-icons">help_outline</i>
                                    </md-button>
                                </md-item-template>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <strong>{{$chip.value}}</strong>
                                </span>
                            </md-chip-template>
                        </md-chips>
                        <md-button style="margin-top: 15px;" class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('compoundType', chemicalDictionaries.compoundTypeVocabulary, $event, compondModel.compoundType)">
                            <i class="material-icons md-24" title="Add/Import new">library_add</i>
                        </md-button>
                    </div>
                </md-input-container>
            </div>
        </div>
        <md-divider style="margin: 10px 5px 5px 10px;"></md-divider>
        <div layout="row" layout-align="center">
            <md-button ng-click="AddCompound()">Add combination to list</md-button>
        </div>
    </div>
    <div layout="column" flex="50" layout-margin ng-show="chemicalContext.compounds.length > 0">
        <md-content>
            <md-list layout-margin>
                <md-list-item ng-repeat="compound in chemicalContext.compounds track by $index" style="margin-bottom: 15px;">
                    <div class="md-list-item-text" layout="column" flex="90">
                        <p><b>Name:</b> {{ compound.compoundName }}</p>
                        <p><b>Classes:</b> <span ng-repeat="class in compound.compoundClass">{{GetNormalizedName(class)}}{{$index == compound.compoundClass.length - 1 ? '' : ', '}}</span></p>
                        <p><b>Types:</b> <span ng-repeat="type in compound.compoundType">{{GetNormalizedName(type)}}{{$index == compound.compoundType.length - 1 ? '' : ', '}}</span></p>
                    </div>
                    <md-button ng-if="isAccessible" class="md-icon-button secondary" ng-click="chemicalContext.compounds.splice($index, 1)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>