<div class="alert alert-success alert-dismissible" role="alert" ng-show="notification">
    <button type="button" class="close" ng-click="notification = null;"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-info-sign"></span> {{notification}}
</div>
<div ng-show="!unacceptedUsers.length" class="no-data-block">no items found ...</div>
<div style="position: relative;" ng-show="unacceptedUsers.length">
    <table ng-table="tableParams" class="table" show-filter="false">
        <thead>
            <tr>
                <th></th>
                <th><span>Name</span></th>
                <th><span>Email</span></th>
                <th><span>Acceptance Date</span></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in $data">
                <td>
                    <input type="checkbox" ng-model="user.selected" ng-click="checkUser(user)" />
                </td>
                <td title="'Type'" filter="{ type: 'text'}" sortable="'type'">
                    {{user.name}}
                </td>
                <td title="'Status'" filter="{ status: 'text'}" sortable="'status'">
                    {{user.email}}
                </td>
                <td title="'Subject'" filter="{ subject: 'text'}" sortable="'subject'">
                    {{user.acceptanceDate}}
                </td>
                <td>
                    <button class="btn btn-success pull-right" ng-click="accept($index)">Accept</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
