<md-dialog add-item-dialog style="min-width: 840px;">
    <md-dialog-content class="md-dialog-content">

        <h2 class="md-title">Data owner change</h2>

        <p ng-if="item.form.$submitted && item.form.$invalid" class="md-warn" layout="row" layout-align="start center">
            <i class="material-icons">error_outline</i>
            <span>&nbsp; All fields are required.</span>
        </p>

        <form name="item.form">
            <div layout="column" style="margin-bottom: 15px;">
                <div flex><label>Current Owner</label></div>
                <div flex><a href="/Account/Details?id={{currentOwner.id}}" ng-bind="currentOwner.name"></a></div>
            </div>
            <div layout="column" class="input-row">
                <div flex><label>New Owner</label></div>
            </div>
            <div layout="row" class="input-row">
                <md-input-container flex>
                    <md-autocomplete md-no-cache="true"
                                        md-selected-item="newOwner"
                                        md-search-text="searchUserKey"
                                        md-items="item in userLiveSearch(searchUserKey)"
                                        md-item-text="(item.name + ' ' + item.surname)"
                                        md-min-length="3"
                                        md-delay="1000"
                                        placeholder="Enter user's name">
                        <md-item-template>
                            <span md-highlight-text="searchUserKey" md-highlight-flags="^i">{{item.name}} {{item.surname}}</span>
                        </md-item-template>
                        <md-not-found>
                            No users matching "{{searchUserKey}}" were found.
                        </md-not-found>
                    </md-autocomplete>
                </md-input-container>
            </div>
        </form>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="item.form.$invalid">Apply</md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">Cancel</md-button>
    </div>
</md-dialog>