<div layout="row" layout-xs="row">
    <div layout="column" flex="60" style="min-width: 600px;" ng-if="isAccessible">
        <div layout="row">
            <div class="biome-margin" flex="33">
                <p>
                    <b>Biome Type</b>
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.biomeType}}" ng-show="simpleTypesVocabularies.biomeType">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.biomeType}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </p>
                <div layout="row">
                    <md-autocomplete flex="80"
                                     md-selected-item="zonoModel.biomeType"
                                     md-search-text="autocompleteFields.biomeType"
                                     md-items="subItem in querySearch(autocompleteFields.biomeType, 'biomeType')"
                                     md-item-text="subItem.value"
                                     placeholder="Search for a Biome Type"
                                     md-require-match="true"
                                     md-min-length="0">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields.biomeType">{{subItem.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                                <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('biomeType', zonoDictionaries.biomeType, $event, zonoModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
            <div class="biome-margin" flex="33">
                <p>
                    <b>Biome Zone</b>
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.biomeLatitudinalZone}}" ng-show="simpleTypesVocabularies.biomeLatitudinalZone">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.biomeLatitudinalZone}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </p>
                <div layout="row">
                    <md-autocomplete flex="80"
                                     md-selected-item="zonoModel.biomeLatitudinalZone"
                                     md-search-text="autocompleteFields.biomeLatitudinalZone"
                                     md-items="subItem in querySearch(autocompleteFields.biomeLatitudinalZone, 'biomeLatitudinalZone')"
                                     md-item-text="subItem.value"
                                     placeholder="Search for a Biome Zone"
                                     md-require-match="true"
                                     md-min-length="0">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields.biomeLatitudinalZone">{{subItem.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                                <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('biomeLatitudinalZone', zonoDictionaries.biomeLatitudinalZone, $event, zonoModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
            <div class="biome-margin" flex="33">
                <p>
                    <b>Humidity type</b>
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.biomeHumidityType}}" ng-show="simpleTypesVocabularies.biomeHumidityType">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.biomeHumidityType}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </p>
                <div layout="row">
                    <md-autocomplete flex="80"
                                     md-selected-item="zonoModel.biomeHumidityType"
                                     md-search-text="autocompleteFields.biomeHumidityType"
                                     md-items="subItem in querySearch(autocompleteFields.biomeHumidityType, 'biomeHumidityType')"
                                     md-item-text="subItem.value"
                                     placeholder="Search for a Climate"
                                     md-require-match="true"
                                     md-min-length="0">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields.biomeHumidityType">{{subItem.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                                <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('biomeHumidityType', zonoDictionaries.biomeHumidityType, $event, zonoModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
        </div>
        <div layout="row">
            <div class="biome-margin" flex="33">
                <p>
                    <b>Continentality type</b>
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.biomeContinentalityType}}" ng-show="simpleTypesVocabularies.biomeContinentalityType">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.biomeContinentalityType}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </p>
                <div layout="row">
                    <md-autocomplete flex="80"
                                     md-selected-item="zonoModel.biomeContinentalityType"
                                     md-search-text="autocompleteFields.biomeContinentalityType"
                                     md-items="subItem in querySearch(autocompleteFields.biomeContinentalityType, 'biomeContinentalityType')"
                                     md-item-text="subItem.value"
                                     placeholder="Search for a Continentality type"
                                     md-require-match="true"
                                     md-min-length="0">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields.biomeContinentalityType">{{subItem.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                                <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('biomeContinentalityType', zonoDictionaries.biomeContinentalityType, $event, zonoModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
            <div class="biome-margin" flex="33">
                <p>
                    <b>Hemisphere</b>
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.biomeHemisphere}}" ng-show="simpleTypesVocabularies.biomeHemisphere">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.biomeHemisphere}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </p>
                <div layout="row">
                    <md-autocomplete flex="80"
                                     md-selected-item="zonoModel.biomeHemisphere"
                                     md-search-text="autocompleteFields.biomeHemisphere"
                                     md-items="subItem in querySearch(autocompleteFields.biomeHemisphere, 'biomeHemisphere')"
                                     md-item-text="subItem.value"
                                     placeholder="Search for a Hemisphere"
                                     md-require-match="true"
                                     md-min-length="0">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields.biomeHumidityType">{{subItem.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{subItem.description}}" ng-show="subItem.description">
                                <md-tooltip class="tt-multiline" md-direction="right">{{subItem.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('biomeHemisphere', zonoDictionaries.biomeHemisphere, $event, zonoModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
        </div>
        <md-divider style="margin: 10px;"></md-divider>
        <div layout="row" layout-align="center">
            <md-button ng-click="AddZono()">Add combination to list</md-button>
        </div>
    </div>
    <div layout="column" style="margin-left: 160px;" ng-show="biomeModel.zonoBiomes.length > 0">
        <md-content>
            <md-list layout-margin>
                <md-list-item ng-repeat="zono in biomeModel.zonoBiomes track by $index" style="margin-bottom: 15px;">
                    <div class="md-list-item-text" layout="column" style="width: 300px;">
                        <p><b>Biome Type:</b> {{ zono.biomeLatitudinalZone.value }}</p>
                        <p><b>Biome Zone:</b> {{ zono.biomeLatitudinalZone.value }}</p>
                        <p><b>Biome Hemisphere:</b> {{ zono.biomeHemisphere.value}}</p>
                        <p><b>Biome Humidity Type:</b> {{ zono.biomeHumidityType.value }}</p>
                        <p><b>Biome Continentality Type:</b> {{ zono.biomeContinentalityType.value }}</p>
                    </div>
                    <md-button ng-if="isAccessible" class="md-icon-button secondary" ng-click="biomeModel.zonoBiomes.splice($index, 1)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>

