<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="GlobalNameServiceConfigurationSection" type="CAFE.Plugins.GlobalNameResolveService.GlobalNameServiceConfigurationSection, CAFE.Plugins.GlobalNameResolveService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="EmailConfigurationSection" type="CAFE.Web.Configuration.EmailConfigurationSection, CAFE.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="RelatedSearchFiltersConfigurationSection" type="CAFE.Web.Configuration.RelatedSearchFiltersConfigurationSection, CAFE.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="ComplexSearchFiltersConfigurationSection" type="CAFE.Web.Configuration.ComplexSearchFiltersConfigurationSection, CAFE.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>    
    <section name="ApplicationConfigurationSection" type="CAFE.Web.Configuration.ApplicationConfigurationSection, CAFE.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1073741824"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <connectionStrings>
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=CafeEntities;MultipleActiveResultSets=true;Integrated Security=SSPI;" />-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=cs_cafe;MultipleActiveResultSets=true;Integrated Security=SSPI;"/>-->
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=ADV-DSK-01\SQL2014;Initial Catalog=CafeEntities;integrated security=False;MultipleActiveResultSets=True;App=EntityFramework; user id=sa;password=Qwerty1;" />-->
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\CafeEntities.mdf;Initial Catalog=CafeEntities;Integrated Security=True"  />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PermanentUserName" value="PermanentUser"/>
    <add key="CheckVersionBuildLink" value="https://raw.githubusercontent.com/deniskozlov/temprepo/master/lastversion.txt"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <globalization culture="en-US" uiCulture="en-US"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AI.Agent.Intercept" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.5.0" newVersion="2.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <ApplicationConfigurationSection IsUsersAcceptanceNeed="True" ApploadsRoot="/Content/Uploads/"/>
  <EmailConfigurationSection SmtpHost="smtp.gmail.com" SmtpPort="465" IsSslRequired="True" Login="cafeprojecttester@gmail.com" Password="Tdr%dTd09Ie$!e" NameFrom="Admin from domain.com" TemplatesPath="~/App_Data/EmailTemplates"/>
  <ComplexSearchFiltersConfigurationSection>
    <ComplexFiltersScopes>
      <ComplexFilterScope type="Common.Person" basePath="Object.References[1].Persons[N]">
        <ComplexFiltersCollection>
          <FilterElement property="Position[1]" type="Simple" description="Position"/>
          <FilterElement property="Salutation[1]" type="Simple" description="Salutation"/>
          <FilterElement property="GivenName[1]" type="Simple" description="Given name"/>
          <FilterElement property="SurName[1]" type="Simple" description="Surname"/>
          <FilterElement property="EmailAddress[1]" type="Simple" description="Email address"/>
          <FilterElement property="PhoneNumber[1]" type="Simple" description="Phone number"/>  
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Common.Hoster" basePath="Object.References[1].Hosters[N]">
        <ComplexFiltersCollection>
          <FilterElement property="HosterName" type="ReferenceValue" description="Hoster name"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Common.Access Mode" basePath="">
        <ComplexFiltersCollection>
          <FilterElement property="AccessMode" type="Select" description="Access mode"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Time.Time Ranges" basePath="Object.Contexts[1].TimeContext.TimeRanges.TimeRange">
        <ComplexFiltersCollection>
          <FilterElement property="RangeStart.DateTime" type="DateAndTime" description="Range start"/>
          <FilterElement property="RangeEnd.DateTime" type="DateAndTime" description="Range end"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Time.Time Periods" basePath="Object.Contexts[1].TimeContext.TimePeriods.TimePeriod[N]">
        <ComplexFiltersCollection>
          <FilterElement property="GeologicalEon" type="ReferenceValue" description="Geological Eon"/>
          <FilterElement property="GeologicalEra" type="ReferenceValue" description="Geological Era"/>
          <FilterElement property="GeologicalPeriod" type="ReferenceValue" description="Geological Period"/>
          <FilterElement property="GeologicalEpoch" type="ReferenceValue" description="Geological Epoch"/>
          <FilterElement property="GeologicalAge" type="ReferenceValue" description="Geological Age"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Time.Temporal Resolutions" basePath="Object.Contexts[1].TimeContext.TemporalResolutions[N]">
        <ComplexFiltersCollection>
          <FilterElement property="TemporalExtentType" type="ReferenceValue" description="Temporal Extent Type"/>
          <FilterElement property="TemporalResolutionType" type="ReferenceValue" description="Temporal Resolution Type"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Space.Bounding Box" basePath="Object.Contexts[1].SpaceContext.BoundingBoxes[N]">
        <ComplexFiltersCollection>
          <FilterElement property="NorthBoundingCoordinate" type="Simple" description="North"/>
          <FilterElement property="SouthBoundingCoordinate" type="Simple" description="South"/>
          <FilterElement property="EastBoundingCoordinate" type="Simple" description="East"/>
          <FilterElement property="WestBoundingCoordinate" type="Simple" description="West"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Space.Coordinates" basePath="Object.Contexts[1].SpaceContext.Coordinates[N].UtmCoordinate">
        <ComplexFiltersCollection>
          <FilterElement property="UtmCoordinateZone" type="Simple" description="Zone"/>
          <FilterElement property="UtmCoordinateSubZone" type="Simple" description="Sub Zone"/>
          <FilterElement property="UtmCoordinateHemisphere" type="ReferenceValue" description="Hemisphere"/>
          <FilterElement property="UtmCoordinateEasting" type="Simple" description="Easting"/>
          <FilterElement property="UtmCoordinateEastingUnit" type="ReferenceValue" description="Easting Unit"/>
          <FilterElement property="UtmCoordinateNorthing" type="Simple" description="Northing"/>
          <FilterElement property="UtmCoordinateNorthingUnit" type="ReferenceValue" description="Northing Unit"/>
          <FilterElement property="UtmCoordinateGeodeticDatum" type="ReferenceValue" description="Geodetic Datum"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Space.Locations" basePath="Object.Contexts[1].SpaceContext.Locations[N]">
        <ComplexFiltersCollection>
          <FilterElement property="LocationName" type="Simple" description="Location Name"/>
          <FilterElement property="LocationType" type="ReferenceValue" description="Location Type"/>
          <FilterElement property="CountryName" type="ReferenceValue" description="Country Name"/>
          <FilterElement property="ContinentName" type="ReferenceValue" description="Continent Name"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Space.Resolutions" basePath="Object.Contexts[1].SpaceContext.SpatialResolutions[N]">
        <ComplexFiltersCollection>
          <FilterElement property="SpatialExtentType" type="ReferenceValue" description="Extent Type"/>
          <FilterElement property="SpatialResolutionType" type="ReferenceValue" description="Resolution Type"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Atmosphere (Categories/Slice)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Atmosphere">
        <ComplexFiltersCollection>
          <FilterElement property="NamedAtmosphereLayers[N].AtmosphereLayerName" type="ReferenceValue" description="Atmosphere Layer Name"/>
          <FilterElement property="NumericAtmosphereLayers[N].MinimumAtmosphereHeight" type="Simple" description="Minimum Atmosphere Height"/>
          <FilterElement property="NumericAtmosphereLayers[N].MinimumAtmosphereHeightUnit" type="ReferenceValue" description="Minimum Atmosphere Height Unit"/>
          <FilterElement property="NumericAtmosphereLayers[N].MaximumAtmosphereHeight" type="Simple" description="Maximum Atmosphere Height"/>
          <FilterElement property="NumericAtmosphereLayers[N].MaximumAtmosphereHeightUnit" type="ReferenceValue" description="Maximum Atmosphere Height Unit"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Ecosphere (Categories/Slice)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Ecosphere">
        <ComplexFiltersCollection>
          <FilterElement property="NamedEcosphereLayers[N].EcosphereLayerName" type="ReferenceValue" description="Ecosphere Layer Name"/>
          <FilterElement property="NumericEcosphereLayers[N].MinimumVegetationHeight" type="Simple" description="Minimum Vegetation Height"/>
          <FilterElement property="NumericEcosphereLayers[N].MinimumVegetationHeightUnit" type="ReferenceValue" description="Minimum Vegetation Height Unit"/>
          <FilterElement property="NumericEcosphereLayers[N].MaximumVegetationHeight" type="Simple" description="Maximum Vegetation Height"/>
          <FilterElement property="NumericEcosphereLayers[N].MaximumVegetationHeightUnit" type="ReferenceValue" description="Maximum Vegetation Height Unit"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Ecosphere (Organizational Level)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Ecosphere.OrganizationalHierarchies[N]">
        <ComplexFiltersCollection>
          <FilterElement property="OrganizationHierarchyName" type="ReferenceValue" description="Organization Hierarchy Name"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Pedosphere (Categories /Slice)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Pedosphere.PedosphereCompartments[1].Soil">
        <ComplexFiltersCollection>
          <FilterElement property="NamedSoilLayers[N].SoilHorizon" type="ReferenceValue" description="Soil Horizon"/>
          <FilterElement property="NumericSoilLayers[N].MinimumSoilDepth" type="Simple" description="Minimum Soil Depth"/>
          <FilterElement property="NumericSoilLayers[N].MinimumSoilDepthUnit" type="ReferenceValue" description="Minimum Soil Depth Unit"/>
          <FilterElement property="NumericSoilLayers[N].MaximumSoilDepth" type="Simple" description="Maximum Soil Depth"/>
          <FilterElement property="NumericSoilLayers[N].MaximumSoilDepthUnit" type="ReferenceValue" description="Maximum Soil Depth Unit"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Pedosphere (Quality/Morphology/Texture)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Pedosphere.PedosphereCompartments[1].Soil">
        <ComplexFiltersCollection>
          <FilterElement property="SoilTextures[N].SoilTextures" type="Simple" description="Soil Textures"/>
          <FilterElement property="SoilTextures[N].SiltPercent" type="Simple" description="Silt Percent"/>
          <FilterElement property="SoilTextures[N].LoamPercent" type="Simple" description="Loam Percent"/>          
          <FilterElement property="SoilMorphologies[N].SoilMorphologyType" type="ReferenceValue" description="Soil Morphology Type"/>
          <FilterElement property="SoilAcidities[N].SoilAcidityType" type="ReferenceValue" description="Soil Acidity Type"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Hydrosphere (River)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Hydrosphere.HydrosphereCompartments[1].River">
        <ComplexFiltersCollection>
          <FilterElement property="NamedRiverZones[N].LongitudinalRiverZone" type="ReferenceValue" description="Longitudinal River Zone"/>
          <FilterElement property="NamedRiverZones[N].VerticalRiverZone" type="ReferenceValue" description="Vertical River Zone"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Hydrosphere (Lake)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Hydrosphere.HydrosphereCompartments[1].Lake">
        <ComplexFiltersCollection>
          <FilterElement property="NamedLakeZones[N].BenthicLakeZone" type="ReferenceValue" description="Benthic Lake Zone"/>
          <FilterElement property="NamedLakeZones[N].PelagicLakeZone" type="ReferenceValue" description="Pelagic Lake Zone"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Sphere.Hydrosphere (Sea)" basePath="Object.Contexts[1].SphereContext.Spheres[1].Hydrosphere.HydrosphereCompartments[1].Sea">
        <ComplexFiltersCollection>
          <FilterElement property="NamedSeaZones[N].BenthicSeaZone" type="ReferenceValue" description="Benthic Sea Zone"/>
          <FilterElement property="NamedSeaZones[N].PelagicSeaZone" type="ReferenceValue" description="Pelagic Sea Zone"/>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Biome.Zonobiomes" basePath="Object.Contexts[1].BiomeContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Biome.Orobiomes" basePath="Object.Contexts[1].BiomeContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Biome.Pedobiomes" basePath="Object.Contexts[1].BiomeContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Biome.Semi Aquatic Physiognomy" basePath="Object.Contexts[1].BiomeContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>    
      <ComplexFilterScope type="Biome.Aquatic Physiognomy" basePath="Object.Contexts[1].BiomeContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>  
      <ComplexFilterScope type="Biome.Terrestric Physiognomy" basePath="Object.Contexts[1].BiomeContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Biome.Land Use" basePath="Object.Contexts[1].BiomeContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>    
      <ComplexFilterScope type="Organism.Domain" basePath="Object.Contexts[1].OrganismContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>  
      <ComplexFilterScope type="Organism.Species" basePath="Object.Contexts[1].OrganismContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>  
      <ComplexFilterScope type="Processes.Process" basePath="Object.Contexts[1].ProcessContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>          
      <ComplexFilterScope type="Processes.Interaction" basePath="Object.Contexts[1].ProcessContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Chemical.Elements" basePath="Object.Contexts[1].ChemicalContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Chemical.Compounds" basePath="Object.Contexts[1].ChemicalContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Chemical.Functions" basePath="Object.Contexts[1].ChemicalContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Method.Approaches" basePath="Object.Contexts[1].MethodContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
      <ComplexFilterScope type="Method.Factors" basePath="Object.Contexts[1].MethodContext">
        <ComplexFiltersCollection>
        </ComplexFiltersCollection>
      </ComplexFilterScope>
    </ComplexFiltersScopes>
  </ComplexSearchFiltersConfigurationSection>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>


