<md-dialog add-item-dialog style="min-width: 840px; max-height: 100%;">
    <md-dialog-content class="md-dialog-content" style="height: 100%;">


        <h2 class="md-title">Set access Mode</h2>

        <p ng-if="fileForm.$submitted && fileForm.$invalid" class="md-warn" layout="row" layout-align="start center">
            <i class="material-icons">error_outline</i>
            <span>&nbsp; All fields are required.</span>
        </p>

        <div layout="row" class="input-row">
            <md-input-container flex>
                <label>Access Mode</label>
                <md-select ng-model="model.AccessMode" required>
                    <md-option ng-value="$index" ng-repeat="opt in AIAccesModes">{{ opt }}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="row" class="input-row" ng-show="model.AccessMode == 1">
            <md-input-container layout-margin flex>
                <label>Enter name of user or group</label>
                <md-chips ng-model="model.SelectedUsersAndGroups" md-require-match="true" flex>
                    <md-autocomplete md-search-text="functionAutocomplete.searchText"
                                     md-items="item in querySearch(functionAutocomplete.searchText)"
                                     md-item-text="item.name"
                                     md-min-length="0"
                                     placeholder="Search for a user or group">
                        <span md-highlight-text="functionAutocomplete.searchText">{{item.name}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                            <strong>{{$chip.name}}</strong>
                        </span>
                    </md-chip-template>
                </md-chips>
            </md-input-container>
        </div>
    </md-dialog-content>
    <div class="md-actions">
        <md-button class="md-primary" ng-click="ctrl.save()" ng-disabled="fileForm.$invalid">Save</md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">Cancel</md-button>
    </div>
</md-dialog>
