<div class="no-data-block" style="width: 100%; text-align: right;">
    <a class="btn btn-primary" ng-href="/AnnotationItem" target="_blank">Add new Annotation Item</a>
    <button class="btn btn-primary" ng-click="ImportDialog()">Import from XML</button>
    <button class="btn btn-primary" ng-click="ImportWizardDialog()">Import with Wizard</button>
</div>
<div class="alert alert-success alert-dismissible" role="alert" ng-show="notification">
    <button type="button" class="close" ng-click="notification = null;"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-info-sign"></span> {{notification}}
</div>
<div ng-show="!annotationItems.length" class="no-data-block">no items found ...</div>
<div style="position: relative;" ng-show="annotationItems.length">
    <div class="btn-toolbar" style="float: left">
        <button class="btn" ng-click="CloneAnnotationItem($event,selectedAnnotationItems)">Clone</button>
        <button class="btn" ng-click="AccessLevelDialog($event,selectedAnnotationItems)">Set Access mode</button>
        <button class="btn" ng-click="DeleteAnnotationItems($event)">Delete selected</button>
        <button class="btn" ng-click="ExportAnnotationItems()">Export selected</button>
    </div>
    <table ng-table="tableParams" class="table" show-filter="false">
        <thead>
            <tr>
                <th></th>
                <th><span>Name</span></th>
                <th>Description</th>
                <th>Creation Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr ng-repeat="annotationItem in $data">
                <td>
                    <input type="checkbox" ng-model="annotationItem.selected" ng-click="checkAnnotationItem(annotationItem)"/>
                </td>
                <td title="'Id'" filter="{ id: 'number'}" sortable="'id'">
                    <a href="/AnnotationItem?id={{annotationItem.id}}" target="_blank">{{annotationItem.name}}</a>
                </td>
                <td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
                    {{annotationItem.description}}
                </td>
                <td title="'Creation date'" filter="{ creationDate: 'date'}" sortable="'creationDate'">
                    {{GetNormalizedDate(annotationItem.creationDate)}}
                </td>
            </tr>
        </tbody>
    </table>
</div>
