<div layout="row" flex>
    <div layout="column" layout-margin flex="50" ng-if="isAccessible">
        <div layout="row" layout-padding>
            <div layout="column" layout-padding flex="50">
                <h4>
                    Name
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.factorName}}" ng-show="simpleTypesVocabularies.factorName">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.factorName}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </h4>
                <div layout="row">
                    <md-autocomplete flex
                                     md-selected-item="factorModel.factorName"
                                     md-search-text="autocompleteFields.factorName"
                                     md-items="item in querySearch(autocompleteFields.factorName, methodDictionaries.factors[0].factorName)"
                                     md-item-text="item.value"
                                     placeholder="Search for a factor name"
                                     md-min-length="0"
                                     md-require-match="true">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields.factorName">{{item.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{item.description}}" ng-show="item.description">
                                <md-tooltip class="tt-multiline" md-direction="right">{{item.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('factorName', methodDictionaries.factors[0].factorName, $event, factorModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
            <div layout="column" layout-padding flex="50">
                <h4>
                    Type
                    <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies.factorType}}" ng-show="simpleTypesVocabularies.factorType">
                        <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies.factorType}}</md-tooltip>
                        <i class="material-icons">help_outline</i>
                    </md-button>
                </h4>
                <div layout="row">
                    <md-autocomplete flex
                                     md-selected-item="factorModel.factorType"
                                     md-search-text="autocompleteFields.factorType"
                                     md-items="item in querySearch(autocompleteFields.factorType, methodDictionaries.factors[0].factorType)"
                                     md-item-text="item.value"
                                     placeholder="Search for a factor type"
                                     md-min-length="0"
                                     md-require-match="true">
                        <md-item-template>
                            <span md-highlight-text="autocompleteFields.factorType">{{item.value}}</span>
                            <md-button class="md-icon-button md-primary" aria-label="{{item.description}}" ng-show="item.description">
                                <md-tooltip class="tt-multiline" md-direction="right">{{item.description}}</md-tooltip>
                                <i class="material-icons">help_outline</i>
                            </md-button>
                        </md-item-template>
                    </md-autocomplete>
                    <md-button class="md-icon-button import" aria-label="Add/Import new" ng-click="ImportDialogOpen('factorType', methodDictionaries.factors[0].factorType, $event, factorModel)">
                        <i class="material-icons md-24" title="Add/Import new">library_add</i>
                    </md-button>
                </div>
            </div>
        </div>
        <md-divider style="margin: 10px 5px 5px 10px;"></md-divider>
        <div layout="row" layout-align="center">
            <md-button ng-click="AddFactor()">Add combination to list</md-button>
        </div>
    </div>
    <div layout="column" layout-margin ng-show="methodContext.factors.length > 0" flex="30">
        <md-content>
            <md-list layout-margin>
                <md-list-item ng-repeat="factor in methodContext.factors track by $index" style="margin-bottom: 15px;">
                    <div class="md-list-item-text" layout="column" flex="90">
                        <p><b>Name:</b> {{ factor.factorName.value }}</p>
                        <p><b>Type:</b> {{ factor.factorType.value }}</p>
                    </div>
                    <md-button ng-if="isAccessible" class="md-icon-button secondary" ng-click="methodContext.factors.splice($index, 1)">
                        <i class="material-icons">delete</i>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</div>
