<div class="row" style="padding: 1em;">
    <div class="col-xs-12">
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.bioma.checked" aria-label="Bioma">
                Biome
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['biome Level']}}" ng-show="simpleTypesVocabularies['biome Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['biome Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.ecosystem.checked" aria-label="Ecosystem">
                Ecosystem
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['ecosystem Level']}}" ng-show="simpleTypesVocabularies['ecosystem Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['ecosystem Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.population.checked" aria-label="Population">
                Population
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['population Level']}}" ng-show="simpleTypesVocabularies['population Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['population Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.organizm.checked" aria-label="Organizm">
                Organism
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['organism Level']}}" n ng-show="simpleTypesVocabularies['organism Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['organism Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.systemOfOrgans.checked" aria-label="System of Organs">
                System of Organs
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['system of Organs Level']}}" ng-show="simpleTypesVocabularies['system of Organs Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['system of Organs Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.organ.checked" aria-label="Organ">
                Organ
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['organ Level']}}" ng-show="simpleTypesVocabularies['organ Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['organ Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.tissue.checked" aria-label="Tissue">
                Tissue
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['tissue Level']}}" ng-show="simpleTypesVocabularies['tissue Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['tissue Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.cell.checked" aria-label="Cell">
                Cell
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['cell Level']}}" ng-show="simpleTypesVocabularies['cell Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['cell Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.cellOrganelle.checked" aria-label="Cell Organelle">
                Cell Organelle
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['cell Organelle Level']}}" ng-show="simpleTypesVocabularies['cell Organelle Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['cell Organelle Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.molecule.checked" aria-label="Molecule">
                Molecule
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['molecule Level']}}" ng-show="simpleTypesVocabularies['molecule Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['molecule Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
        <div>
            <md-checkbox ng-disabled="!isAccessible" ng-model="organizationalHierarchyModel.atom.checked" aria-label="Atom">
                Atom
                <md-button class="md-icon-button md-primary" aria-label="{{simpleTypesVocabularies['atom Level']}}" ng-show="simpleTypesVocabularies['atom Level']">
                    <md-tooltip class="tt-multiline" md-direction="right">{{simpleTypesVocabularies['atom Level']}}</md-tooltip>
                    <i class="material-icons">help_outline</i>
                </md-button>
            </md-checkbox>
        </div>
    </div>
</div>
<div class="row" style="padding: 1em;">
    <div class="col-md-12">
        <br />*Multiple choices are allowed if suitable.
    </div>
</div>

